
.AppLogo {
  height: 40px;
  pointer-events: none;
  /* margin-top: 6px; */
}

.AppHeader {
  background-color: #282c34;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 8px;
  box-sizing: border-box;
}

.AppLink {
  color: #61dafb;
}

.logoContainer{
  display: flex;
  align-items: center;
  align-content: center;
  
}

.collapsed{
  margin-inline-start: 0px;
  transition: all 1s;
}

.notCollapsed{
  margin-inline-start: 200px;
  transition: all 1s;
}